.emediadialog {
  background-color: #f9f9f9; /* Set a custom background color */
  width: calc(100vw - 4rem)!important; /* Set width to full viewport width minus margins */
  height: calc(100vh - 4rem)!important;
}

.emediadialog .ui-dialog-titlebar {
  display: none;
}

.emediadialog .ui-dialog-titlebar-close {
  color: #fff; /* Set close button color */
}

.ui-dialog.emediadialog .ui-dialog-content {
  padding: 0;
  height: 100%!important;
  overflow: unset!important;
}

.field--type-emedia-library-field .field__label {
  display: none;
}

.emedia-thumbnail-wrapper {
  width: 200px;
}

.emedia-find-asset-wrapper {
  margin-bottom: 2rem;
}